@font-face{
	 font-family: 'Square721 BT','Square721 Cn BT';
     src: url('font/Square721 BT.ttf'); /* Para Internet Explorer */
     src: url('font/tt0009m_.ttf'); /* Para Internet Explorer */
}



body
{
	font-family: 'MyryadPro',verdana,helvetica,arial,sans-serif;
    background-color:#2250a8;
}

.submit {
    margin-left:150px;
    margin-top:10px;
    float:right;
}

.contenedor_combo_cancion {
    width:300px;
    height:100px;
    
}

.table.table-hover.album {
    background-color:white;
    color:gray;
}

#Contenido {
    background-color:#2250a8;
    width:100%;
    height:auto;
}

#Pie {
    background-color:#870033;
    width:100%;
    height:400px;
    clear:left;
}

#Encabezado_index {
    background-color:yellow;
    margin: 0px auto;
    width:900px;
    height:180px;
}

.recuadro_encabezado_izquierda{
    background-color:#db0052;
    width:450px;
    height:180px;
    float:left;
    padding-left:150px;
    padding-top:50px;
}

.recuadro_encabezado_derecha{
    background-color:#870033;
    width:450px;
    height:180px;
    float:left;
    padding-left:30px;
    padding-top:50px;
}

.recuadro_encabezado_izquierda p {
    font-family:'Square721 BT';
    font-size:60px;
    color:white;
}

.recuadro_encabezado_derecha p {
    font-family:'Square721 Cn BT';
    font-size:40px;
    color:white;
}

.imagen_index {
    margin-left:200px;
}

#contenedor_index {
    margin: 0px auto;
    width:auto;
    height:auto;
}

.texto_index {
    font-family:'Square721 Cn BT';
    font-size:40px;
    color:#2250a8;
    margin-top:-325px;
    margin-left:750px;
}

.espacio_blanco {
    width:100px;
    height:200px;
}

.triangulo {
   position:relative;
   z-index:1;
}

.contenedor_izquierdo_cancion {
    background-image:url("../Content/imagen/hombre.jpg");
    width:500px;
    height:600px;
    float:left;
}

.contenedor_derecho_cancion {
    font-family:'Square721 BT';
    color:white;
    width:810px;
    height:auto;
    float:left;
}

.btn.btn-default.filtrar {
    margin-top:-120px;
    float:right;
}

.contenedor_izquierdo_cancion img {
    margin-left:100px;
    margin-top:70px;
}
 


