@model MVCDisco.Models.Cancion

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
@Html.Partial("NavMenu_Partial")
<div id="contenedor_index">
    <div id="Encabezado_index">
        <div class="recuadro_encabezado_izquierda">
            <p class="logotipo">Razor</p>
        </div>
        <div class="recuadro_encabezado_derecha">
            <p>Se tu propia discografica</p>
        </div>
         <img class="triangulo"  src="@Url.Content("~/Content/imagen/triangulo.jpg")" alt="imagen_inicio" width="91" height="51" />
    </div>
     <img class="imagen_index"  src="@Url.Content("~/Content/imagen/chicas2.jpg")"alt="imagen_inicio" width="912" height="589" />
 </div>
