

@{
    ViewBag.Title = "Error";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

   <div id="contenedor_index">
     <img class="imagen_index"  src="@Url.Content("~/Content/imagen/doctora.jpg")" alt="imagen_inicio" width="968" height="579" />
     <p class ="texto_error"><span>¡Ups!</span> <br />
      ¡Algo definitivamente no anda bien! <br />
      ¡Manten la calma!
     </p>
    <div class="espacio_blanco"></div>
  </div>

