@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@Html.Partial("NavMenuHome_Partial")

<div id="contenedor_index">
    <div id="Encabezado_index">
        <div class="recuadro_encabezado_izquierda">
            <p class="logotipo">Razor</p>
        </div>
        <div class="recuadro_encabezado_derecha">
            <p>Se tu propia discografica</p>
        </div>
         <img class="triangulo" src="Content/imagen/triangulo.jpg" alt="imagen_inicio" width="91" height="51" />
    </div>
     <img class="imagen_index" src="Content/imagen/chicas.jpg" alt="imagen_inicio" width="968" height="579" />
    
     <p class ="texto_index">Divertite creando tus  <br />
      albumes y canciones <br /> con RAZOR</p>
    <div class="espacio_blanco"></div>

 </div>
